extends _layout/layout.pug
block main 
	section.home_slider
		.container
			.row
				.col
					h1 Lorem ipsum dolor, sit amet consectetur adipisicing elit. autem inventore modi quia laborum officia? 
					p
						a.btn.btn-more(href="#") CLick Me
	section.home_service
		.container
			.row
				.col
					h3 Service We Provide
					h5 We are working with both individuals and businesses from all over the goble to create awesome websites and applications.
		.container
			.row
				.col-sm-3
					img(src="./img/home_icon_1.png", alt="")
					h4 Branding
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam illo, rerum ipsum aut amet quas distinctio a enim dolorum cum tenetur nesciunt pariatur adipisci libero harum necessitatibus autem ad soluta?
				.col-sm-3
					img(src="./img/home_icon_2.png", alt="")
					h4 Branding
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam illo, rerum ipsum aut amet quas distinctio a enim dolorum cum tenetur nesciunt pariatur adipisci libero harum necessitatibus autem ad soluta?
				.col-sm-3
					img(src="./img/home_icon_3.png", alt="")
					h4 Branding
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam illo, rerum ipsum aut amet quas distinctio a enim dolorum cum tenetur nesciunt pariatur adipisci libero harum necessitatibus autem ad soluta?
				.col-sm-3
					img(src="./img/home_icon_4.png", alt="")
					h4 Branding
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam illo, rerum ipsum aut amet quas distinctio a enim dolorum cum tenetur nesciunt pariatur adipisci libero harum necessitatibus autem ad soluta?
								